.main-container {
    align-self: center;
    align-items: center;
    width: 100%;
}

li {
    text-decoration: none;
    list-style:none;
}

.container-form {
    width: 60%;
    align-items: center;
    align-self: center;
}

.form-user {
    align-self: center;
    flex-direction: column;
}

.name-user {
    border-radius: 10px;
}

.button-delete {
    border-radius: 30px;
    color: red;
}

.ul-list {
    flex-direction: row;
    list-style-type: none;
}

.item-li {
    flex-direction: row;
}

.comments {
    background-color: #fff;
    border-radius: 10px;
    border: #f1f1f1 1px solid;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.information-container {
    background-color: #fff;
    border-radius: 10px;
    border: #f1f1f1 1px solid;
    padding: 2%;
}